@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-pink-600: rgb(219 39 119);
    --clr-amber-400: rgb(251 191 36);
    --clr-amber-200: rgb(253 230 138);
    --clr-sky-600: rgb(2 132 199);
    --clr-fuchsia-700: rgb(162, 28, 175);
    --spacing-s: 1em;
    --spacing-m: 2em;
    --br: .6em;
}

.flex {
    display: flex;
}

.m-b {
    margin-bottom: var(--spacing-m);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: none;
    transition: all .5s;

    &:hover {
        transform: scale(1.5);
        background-color: var(--clr-amber-400);
    }
}

.blue {
    color: var(--clr-sky-600);
    font-weight: 600;
}

body {
    cursor: none;
    font-family: "Mali", cursive;
    background-color: black;
}

.circle-cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: var(--clr-fuchsia-700);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
}

.circle-cursor::after {
    content: '';
    position: fixed;
    width: 28px;
    height: 28px;
    background: rgba(253, 230, 138, 0.2);
    border-radius: 50%;
}

.container {
    position: relative;
    max-width: 1330px;
    margin: 0 auto;
    padding: var(--spacing-m);

    @media(width < 640px){
        padding: --spacing-s;
    }
}

.branding {
    align-items: center;
    justify-content: center;
    gap: .5rem;
    img {
        max-width: 4rem;
        max-height: 60px;
    }
}

.title{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--clr-pink-600);

    @media(width < 640px){
        font-size: 1rem;
        font-weight: 600;
    }
   
}

.form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-container {
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-shrink: 1;
    margin: 0 auto;
    width: 75%;
}

.input {
    background-color: var(--clr-amber-200);
    border: none;
    color: black;
    border-radius: var(--br);
    width: 100%;
    padding: 1em 1.5em;
    font-size: 1rem;
}

.add-btn {
    cursor: none;
    background-color: var(--clr-amber-200);
    color: black;
    font-weight: 800;
    padding: 1em 1.5em;
    white-space: nowrap;
    font-size: 1rem;
    border-radius: var(--br);
}

.add-btn:focus-visible, input:focus-visible {
    outline: 2px solid var(--clr-pink-600);
}

.message {
    display: none;
    height: fit-content;
    color: var(--clr-pink-600);
    font-size: .8rem;
    padding-top: .5rem;
    width: 75%;
    font-weight: 600;
}

.todo-list {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(200px, 300px);
    gap: 2rem;
    padding-top: var(--spacing-s);
    @media(width < 640px){
        grid-template-columns: 1fr;
    }
}

.new-todos, .completed-todos {
    flex-direction: column;
    gap: 2rem;

    h4 {
        max-width: max-content;
        border-radius: var(--br);
        padding: 1rem;
    }
}

.new-todos {
    h4 {
        color: var(--clr-sky-600);
        box-shadow: 3px 3px 5px rgba(2, 133, 199, 0.274);
    }
}

.completed-todos {
    h4 {
        color: var(--clr-fuchsia-700);
        box-shadow: 3px 3px 5px rgba(163, 28, 175, 0.274);
    }
}

.todo {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    padding: 2rem;
    border-radius: var(--br);
    min-height: 10rem;
    max-height: max-content;
    color: black;

    .btn-container {
        display: flex;
        gap: .2rem;
    }

    input[type="checkbox"] {
        cursor: none;
        appearance: none;
        -webkit-appearance: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 50%;
        padding: .14em;
        max-width: max-content;
        max-height: max-content;
        transition: all .5s;

        &:hover {
            transform: scale(1.5);
            background-color: var(--clr-amber-400);
        }
      }
      
      input[type="checkbox"]::before {
        content: "";
        width: 17px;
        height: 17px;
        margin: 1px;
        clip-path: polygon(61% 44%, 90% 0, 100% 27%, 36% 100%, 0 63%, 0 32%, 34% 75%);
        transform: scale(0);
        background-color: black;
      }
      
      input[type="checkbox"]:checked::before {
        transform: scale(1);
      }
      
    button {
        border: 2px solid black;
        width: 23px;
        height: 23px;
        font-size: 1.2rem;
        border-radius: 50%;
        padding: .6em;
        font-weight: 600;

        &:focus-visible {
            outline: 2px solid var(--clr-pink-600);
        }
    }

}

.popup {
    position: absolute;
    top: 3.6em;
    right: 0;
    margin-right: 2rem;
    z-index: 9999;
    display: none;
    font-weight: 600;
    
    .popup__text {
        background-color: rgba(0, 0, 0, 0.931);
        margin: 0 auto;
        padding: 1rem;
        color: var(--clr-pink-600);
        font-size: 0.8rem;
        border-radius: var(--br);

    }
}

.completed {
    
    p {
        text-decoration: line-through;
    }   
}

@keyframes left-to-right {
    0% {
        transform: translate(-100%, -30%);
    }
}
@keyframes right-to-left {
    0% {
        transform: translate(100%, 30%);
    }
}